	<!DOCTYPE html>

	<html lang="en">
	<head>
	  <title>{{ page.title }}</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	  <link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/main.css">

	</head>


	<body>
	<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
		  <div class="container">

				<div class="navbar-header">
				        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							  </button>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				      <ul class="nav navbar-nav">
						  <li><a href="index.html">Home</a></li>
							<li><a href="publications.html">Publications</a></li>
						  <li><a href="research.html">Research</a></li>
							<li><a href="teaching.html">Teaching</a></li>
						  <li><a href="files/CV-HamidrezaKarbasian.pdf" target="_blank">CV</a></li>


				      </ul>
				</div>

		  </div>
		</nav>


	  <!-- Page Content -->
	    <div class="container">
	        <div class="row">

	            <!-- Entries Column -->
							<!----------------------------------------------------------------->
	            <div class="col-md-8" style="height: 200vh;">
										{{ content}}
	            </div>
							<!----------------------------------------------------------------->

	            <!-- Sidebar -->
							<!----------------------------------------------------------------->
	            <div class="col-md-4">
	                <img class="img-responsive" src="img/hamid2.jpg" alt="">
	                <p>
	                <div style="font-family: 'Arial', sans-serif; font-size: 30px;"><b>Hamid R. Karbasian</b></div><br>
	                <div style="font-family: 'Arial', sans-serif; font-size: 17px;">
	                <p>Postdoctoral Research Associate<br>
	                Department of Mechanical Engineering<br>
									Masschusetts Institute of Technology<br>
	                Cambridge, USA<br>
	                </p>
	                </div>

			      <div style="font-family: 'Arial', sans-serif; font-size: 17px;">
			      <dd>Email: <a href="karbasian@mit.edu">karbasian [at] mit [dot] edu</a></dd>
		              <dd><a href="https://scholar.google.com/citations?user=jhahvIoAAAAJ&hl=en">Google Scholar</a></dd>
		              <dd><a href="https://www.linkedin.com/in/hamid-r-karbasian-0aa041111">LinkedIn</a></dd>
		              <dd><a href="https://twitter.com/hamid_karbasian">Twitter</a></dd>
									</div>

									<br>
									<img class="img-responsive" src="img/mit_logo.png" alt="https://www.mit.edu/">

	            </div>
							<!----------------------------------------------------------------->
	        </div>
	    </div>
	    <!-- /.container -->


	</body>

	</html>
